<article class="blog-card">
  <header class="blog-card-header">
    <img class="blog-card-header-image" srcset="assets/images/blog-preview-card/illustration-article.svg"
         alt="article headerImage" />
    <div class="blog-card-header-category category">
      Learning
    </div>
    <p class="blog-card-header-date date">Published 21 Dec 2023</p>
    <a routerLink="#" class="blog-card-header-title-link"><h2 class="blog-card-header-title">HTML & CSS foundations</h2></a>
  </header>

  <p class="blog-card-content description">These languages are the backbone of every website, defining structure,
    content, and
    presentation.</p>

  <footer class="blog-card-footer">
    <img class="footer-avatar" src="assets/images/blog-preview-card/image-avatar.webp" height="32" width="32" alt="Avatar">
    <p class="footer-authors-name authors-name">Greg Hooper</p>
  </footer>

</article>
