<div
  class="tasks-list"
  *ngFor="let item of itemList; let i = index"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  cdkDrag
>
  <button
    class="tasks-list-action"
    (click)="toggleCompletionFlag($event, i)"
  >
    <img [ngSrc]="getCheckBoxImage(item.isCompleted).href" height="20" width="20"
         [alt]="getCheckBoxImage(item.isCompleted).alt">
    <span
      class="tasks-list-action-name"
      [ngClass]="{'tasks-list-action-completed': item.isCompleted}"
    >
      {{ item.name }}
    </span>
  </button>
  <button (click)="handleDelete($event, i)" aria-label="Remove" class="tasks-list-close">
    <img
      ngSrc="assets/images/todo-app/icon-cross.svg" height="12"
      width="12"
      alt="Remove"
    >
  </button>
</div>
