@font-face {
  font-family: "Figtree";
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf) format("woff2"), url(../assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format("woff2");
  font-display: swap;
}
