<article class="todo">
  <header class="todo-header"
          [ngClass]="{'todo-header-dark-mode': isDarkMode, 'todo-header-light-mode': !isDarkMode}"
  >
  <div class="todo-header-wrapper"

  >
      <h1 class="todo-header-title">Todo</h1>
      <button (click)="toggleThemeMode($event, isDarkMode)" aria-label="Color theme changer"
              class="todo-header-theme-switch">
        <img [ngSrc]="themeModeImage.href" [alt]="themeModeImage.alt"
             height="20" width="20">
      </button>
  </div>
    </header>

  <app-tasks></app-tasks>

</article>
