@import "_colors.scss";
@import "_variables.scss";

:host {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
  justify-content: center;
}


.todo {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 0;

    &-wrapper {
      background-repeat: no-repeat;
      background-size: cover;
      height: 12.5rem;
      width: 100%;
    }

    &-dark-mode {
      background-image: url("/assets/images/todo-app/bg-mobile-dark.jpg");
      @media (min-width: $desktop) {
        background-image: url("/assets/images/todo-app/bg-desktop-dark.jpg");
      }
    }

    &-light-mode {
      background-image: url("/assets/images/todo-app/bg-mobile-light.jpg");
      @media (min-width: $desktop) {
        background-image: url("/assets/images/todo-app/bg-desktop-light.jpg");
      }
    }

    &-title {

    }

    &-theme-switch {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

app-tasks{
  position: relative;
  top: -6rem;
}

// typography
:host ::ng-deep body {
  font-family: var(--font-family);
}

:host ::ng-deep h1 {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9375rem;
}

:host ::ng-deep p {
  color: var(--grey);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.194px;
}

:host ::ng-deep p.small {
  color: var(--black);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.167px;
}
