.tasks{
  &-input{
    width: 20.4375rem;
    height: 3rem;
    display: flex;
    gap: .75rem;
    padding: 0.88rem 1.25rem;
    background-color: var(--background);
    &-circle{
      height: 1.25rem;
      width: 1.25rem;
      border: var(--border-default);
      border-radius: 50%;
    }
    &-control{
      background: none;
      border: none;
      width: 100%;
      color: var(--grey);

      //typography
      font-family: var(--font-family);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.01044rem;

      &:focus-visible {
        outline: none;
      }
    }
  }
}
