/* Global styles file (e.g., styles.scss) */

/* Importing reset styles and typography */
@import 'reset-css';
@import "_typography.scss";
@import "_variables";
@import "_colors";
@import "_fonts";


/* Apply box-sizing border-box to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

.light-mode {
  --grey: #9495A5;
  --blue: #3A7CFD;
  --black: #494C6B;
  --dash-text: #4D5067;
  --white: #fff;
  --background: #FAFAFA;
  --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
  --font-family: "Josefin Sans", sans-serif;
  --border-default: 1px solid var(--dash-text);
}

.dark-mode {
  --grey: #5B5E7E;
  --background-grey: #25273D;
  --blue: #3A7CFD;
  --black: #C8CBE7;
  --dash-text: #D1D2DA;
  --white: #fff;
  --background: #171823;
  --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
  --font-family: "Josefin Sans", sans-serif;
  --border-default: 1px solid var(--dash-text);
}

//reset
button {
  background: none;
  border: none;
  cursor: pointer;
}
